<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="ba5e3100-aefe-4423-9cb5-53a2789dc528" Publisher="CN=Frances" Version="1.0.0.0" />
  <Properties>
    <DisplayName>GameName2</DisplayName>
    <PublisherDisplayName>Frances</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="GameName2.App">
      <VisualElements DisplayName="GameName2" Logo="Content\Pong150x150.png" SmallLogo="Content\Pong30x30.png" Description="GameName2" ForegroundText="dark" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" WideLogo="Content\Pong310x150.png" />
        <SplashScreen Image="Content\PongSplashScreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="portrait" />
          <Rotation Preference="landscape" />
          <Rotation Preference="portraitFlipped" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>